<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			{% include "components/nav.njk" %}

			<div class="logo">
				<a class="logo-img" href="{{ '/' | url }}">{% include "static/img/logo-bientanbien.svg" %}</a>
			</div>


		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
